      # Global Agent Configuration
      [global_tags]
        user = "test"
      # Input Plugins
      [[inputs.docker]]
        endpoint = "unix://var/run/docker.sock"
        gather_services = false
        container_names = []
        source_tag = false
        container_name_include = []
        timeout = "5s"
        perdevice = true
        total = false
        docker_label_include = []
        tag_env = ["JAVA_HOME", "HEAP_SIZE"]

      # Output Plugin InfluxDB
      # [[outputs.influxdb]]
      #   urls = ["http://192.168.99.105:8086"]
      #   skip_database_creation = false
      #   database = "telegraf-database"

      [[outputs.influxdb]]
        ## The full HTTP or UDP URL for your InfluxDB instance.
        ##
        ## Multiple URLs can be specified for a single cluster, only ONE of the
        ## urls will be written to each interval.
        # urls = ["unix:///var/run/influxdb.sock"]
        # urls = ["udp://127.0.0.1:8089"]
        # urls = ["http://127.0.0.1:8086"]
        urls = ["$INFLUXDB_URL"]

        ## The target database for metrics; will be created as needed.
        database = "$INFLUXDB_DB"

        ## If true, no CREATE DATABASE queries will be sent.  Set to true when using
        ## Telegraf with a user without permissions to create databases or when the
        ## database already exists.
        # skip_database_creation = false

        ## Name of existing retention policy to write to.  Empty string writes to
        ## the default retention policy.  Only takes effect when using HTTP.
        # retention_policy = ""

        ## Write consistency (clusters only), can be: "any", "one", "quorum", "all".
        ## Only takes effect when using HTTP.
        # write_consistency = "any"

        ## Timeout for HTTP messages.
        # timeout = "5s"

        ## HTTP Basic Auth
        username = "$INFLUXDB_USER"
        password = "$INFLUXDB_USER_PASSWORD"